.TooltipWrapper {
    padding: 0rem 1rem;
}
.tagButton {
    display: inline-block;
    position: relative;
    padding: 0.3rem 0.8rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    line-height: normal;
}